/* FP Website */

html {
   background-color: #fff;
   margin-left: 3em;
   margin-right: 3em;
   display: flex;
   justify-content: center;
   
}

/* NAV STYLES */

header {
   display:inline;
   margin:1em;
}

ul {
   list-style-type: none;
   overflow: hidden;
   padding-top: 1.6em;
}

li {
   float: right;
}

li a {
   display: block;
   padding-left: 0.5em;
   padding-right: 0.5em;
   color: black;
   text-decoration: none;
   text-transform: uppercase;
   font-weight: bold;
}

li a:hover {
   font-weight: 500;
   color: #979797;
}

.project {
    text-align: center;
    font-family: 'Fredoka One', cursive;
    text-transform: uppercase;
    display: flex;
    justify-content:center;
}

.active {
   font-weight: 500;
   color: #979797;

}

/* END NAV STYLES */

/* MAIN CONTENT STYLES */

main {
   background-color: #fff;
   width: 100%;
   margin: auto;
}

body {
   font-family: 'Roboto', sans-serif;
   color: grey;
   font-size: 1em;
   width: 60%;
}

a {
   font-family: 'Roboto', sans-serif;
   color: #000;
   text-transform: underline;
   text-decoration: none;
   font-weight:bold;
   padding-bottom: 1em;
}

a:hover {
   font-weight:100;
}

.active {
   font-weight:100;
}

p {
   font-size:1em;
   line-height: 1.6;
}

strong {
   color: #000;
}

section {
   padding: 0.75em;
   text-align: center;
}

#headshot {
   float: left;
   margin-right: 1.5em;
   border-radius: 50%;
}

#resume {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#download {
   display: flex;
   justify-content: center;
}

.thumbnail {
    padding-top: 2em;
    padding-bottom: 2em;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
ul {
   text-align:left;
}

.ApprentiList {
   padding-top:none;
}

.bullets {
    float: left;
    line-height: 1.8;
    list-style-type: circle;
}

hr.solid {
  border-top: 3px solid #bbb;
}

h1 a {
   text-decoration: none;
   color: black;
   float: left;
   padding-top: 0.5em;
   font-family: 'Fredoka One', cursive;

}

h1 a:hover {
   font-weight:400;
}

h2 {
   color: black;
   text-transform: uppercase;
}

h3 {
   color: black;
}

/* END MAIN CONTENT STYLES */

/* START FOOTER CONTENT STYLES */

footer {
   padding: 1em;
   background-color: #fff;
   color: #000;
   text-align: center;
   clear: both;
   text-transform: uppercase;
   font-family: 'Fredoka One', cursive;
   letter-spacing: 1.4px;

}

footer a {
   color: #000;
   text-decoration:none;
   font-family: 'Fredoka One', cursive;
   letter-spacing: 1.4px;

}

footer a:hover {
   font-weight: 100;
   color: #979797;

}

/* END FOOTER CONTENT STYLES */


/* MOBILE + TABLET STYLES */

@media screen and (max-width: 480px) {
   body {
      width: 100%;
   }
   
   h1 {
      text-align: center;
   }
   
   h2 {
      display: block;
      text-align: center;
   
   ul {
      list-style-type: none;
      overflow: hidden;
      display: block;
      padding: 0.75em;
      width: 70%;
      margin: 0;
   }
   
   li {
      float:right;
   }
   
   li a {
      display: block;
      padding-left: 0.5em;
      padding-right: 0.5em;
      color: black;
      text-decoration: none;
   }
   
   #headshot {
      margin-top: 1.5em;
      margin-bottom: 1.5em;
      display: block;
      margin-right: auto;
      margin-left: auto;
      float: none;
   }
   
}
